automation/workflows/finance-automation-staging-pipeline.json
{
  "name": "Finance Automation Staging Pipeline",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "description": "Sanitized export of Finance Automation Staging Pipeline. Replace placeholder folder and sheet IDs before activation.",
    "requires": [
      "Google Drive account",
      "Google Sheets account",
      "OpenRouter API credential"
    ]
  },
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "inboxFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_INBOX_FOLDER_ID"
            },
            {
              "name": "processingFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_PROCESSING_FOLDER_ID"
            },
            {
              "name": "processedFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_PROCESSED_FOLDER_ID"
            },
            {
              "name": "reviewFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_REVIEW_FOLDER_ID"
            },
            {
              "name": "errorFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_ERROR_FOLDER_ID"
            },
            {
              "name": "financialLogSpreadsheetId",
              "type": "string",
              "value": "HOLDEN_FINANCE_LEDGER_SPREADSHEET_ID"
            },
            {
              "name": "financialLogSheetName",
              "type": "string",
              "value": "Financial Log"
            },
            {
              "name": "confidenceReviewThreshold",
              "type": "number",
              "value": 0.85
            },
            {
              "name": "maxFilesPerRun",
              "type": "number",
              "value": 10
            },
            {
              "name": "maxInlineDocumentBase64Chars",
              "type": "number",
              "value": 300000
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.item.json;\nconst required = [\n  'inboxFolderId',\n  'processingFolderId',\n  'processedFolderId',\n  'reviewFolderId',\n  'errorFolderId',\n  'financialLogSpreadsheetId',\n  'financialLogSheetName'\n];\n\nconst missing = required.filter((key) => {\n  const value = cfg[key];\n  return value == null || String(value).trim() === '' || String(value).startsWith('REPLACE_WITH_');\n});\n\nif (missing.length) {\n  throw new Error(`Config placeholders or missing values: ${missing.join(', ')}`);\n}\n\nconst maxFiles = Number(cfg.maxFilesPerRun ?? 10);\nif (!Number.isFinite(maxFiles) || maxFiles < 1 || maxFiles > 100) {\n  throw new Error('maxFilesPerRun must be between 1 and 100');\n}\n\nconst threshold = Number(cfg.confidenceReviewThreshold ?? 0.85);\nif (!Number.isFinite(threshold) || threshold <= 0 || threshold >= 1) {\n  throw new Error('confidenceReviewThreshold must be between 0 and 1');\n}\n\nreturn [{ json: cfg }];"
      },
      "id": "guard-config",
      "name": "Guard Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ \"'\" + $json.inboxFolderId + \"' in parents and mimeType != 'application/vnd.google-apps.folder' and trashed = false\" }}",
        "limit": "={{ Number($('Config').first().json.maxFilesPerRun || 10) }}",
        "filter": {},
        "options": {}
      },
      "id": "search-inbox-files",
      "name": "Search INBOX Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((i) => i.json || {});\nif (!items.length) return [];\n\nitems.sort((a, b) => {\n  const left = Date.parse(a.createdTime || a.modifiedTime || 0);\n  const right = Date.parse(b.createdTime || b.modifiedTime || 0);\n  return left - right;\n});\n\nreturn items.map((file) => ({\n  json: {\n    fileId: file.id,\n    fileNameOriginal: file.name || null,\n    mimeType: file.mimeType || null,\n    createdTime: file.createdTime || null,\n    modifiedTime: file.modifiedTime || null\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "id": "pick-files",
      "name": "Pick Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{$json.fileId}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "={{ $('Config').first().json.processingFolderId }}"
      },
      "id": "move-to-processing",
      "name": "Move To 10_PROCESSING",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1184,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{$json.fileId || $json.id || $item(0).$node[\"Pick Files\"].json[\"fileId\"]}}",
        "options": {}
      },
      "id": "download-file",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\n\nconst pick = $('Pick Files').item?.json || {};\nconst moved = $('Move To 10_PROCESSING').item?.json || {};\nconst downloaded = $('Download File').item?.json || {};\n\nconst stableFileId = item.json.fileId || item.json.id || downloaded.id || moved.id || pick.fileId || null;\nif (!stableFileId) {\n  throw new Error('Unable to resolve Google Drive file ID for downstream processing.');\n}\n\nconst extractedRaw = typeof item.json.text === 'string' ? item.json.text : '';\nlet decodedText = extractedRaw\n  .replace(/[^\\x09\\x0A\\x0D\\x20-\\x7E]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!decodedText && item.binary?.data) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  decodedText = buffer\n    .toString('utf8')\n    .replace(/[^\\x09\\x0A\\x0D\\x20-\\x7E]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst maxExtractedChars = 12000;\nconst extractedText = decodedText.slice(0, maxExtractedChars);\nconst payloadTruncated = decodedText.length > maxExtractedChars;\n\nconst originalName = item.json.fileNameOriginal || moved.name || downloaded.name || pick.fileNameOriginal || null;\nconst mimeType = item.json.mimeType || moved.mimeType || downloaded.mimeType || pick.mimeType || null;\n\nconst aiInput = {\n  file_name: originalName,\n  mime_type: mimeType,\n  payload_truncated: payloadTruncated,\n  extracted_text: extractedText,\n  extracted_text_chars: extractedText.length\n};\n\nreturn {\n  json: {\n    fileId: stableFileId,\n    fileNameOriginal: originalName,\n    mimeType,\n    driveFileLink: `https://drive.google.com/file/d/${stableFileId}/view`,\n    payloadTruncated,\n    aiInput,\n    chatInput: JSON.stringify(aiInput)\n  },\n  binary: item.binary\n};\n",
        "mode": "runOnceForEachItem"
      },
      "id": "prepare-ai-input",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.chatInput}}",
        "options": {
          "systemMessage": "You are a conservative finance document extractor. Input is JSON containing: file_name, mime_type, payload_truncated, extracted_text, extracted_text_chars. Use extracted_text only. Return strict JSON only with this exact key set and casing: document_type, vendor, date_document, total_amount, currency, confidence_score, notes, event_summary, unreadable. Allowed values: document_type in Invoice|Receipt|Bank Statement|Other; date_document in YYYY-MM-DD; currency in USD|null; confidence_score in 0..1; unreadable boolean. All keys are required in every response. event_summary must be a concise summary of document events from extracted text only (1-3 short sentences, business facts only). If extraction is uncertain, keep unreadable=false but still fill best-effort values and explain uncertainty in notes. Set unreadable=true only when text is unusable, and then set confidence_score=0 with notes explaining why. No markdown."
        }
      },
      "id": "ai-intake-classifier",
      "name": "AI Intake Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        -32
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const source = $('Prepare AI Input').item.json;\nconst cfg = $('Config').first().json;\n\nlet raw = $input.item.json.output ?? $input.item.json.response ?? $input.item.json.text ?? '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw ?? {});\nraw = raw.trim();\nif (raw.startsWith('```')) {\n  const lines = raw.split('\\n');\n  if (lines[0].startsWith('```')) lines.shift();\n  if (lines.length && lines[lines.length - 1].startsWith('```')) lines.pop();\n  raw = lines.join('\\n').trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  parsed = {\n    document_type: 'Other',\n    vendor: null,\n    date_document: null,\n    total_amount: null,\n    currency: null,\n    confidence_score: 0,\n    notes: `AI JSON parse failure: ${error.message}`,\n    event_summary: null,\n    unreadable: true\n  };\n}\n\nconst threshold = Number(cfg.confidenceReviewThreshold ?? 0.85);\nconst allowedDocTypes = ['Invoice', 'Receipt', 'Bank Statement', 'Other'];\nconst hasOwn = (obj, key) => Object.prototype.hasOwnProperty.call(obj ?? {}, key);\nconst requiredExtractionKeys = [\n  'document_type',\n  'vendor',\n  'date_document',\n  'total_amount',\n  'currency',\n  'confidence_score',\n  'notes',\n  'event_summary',\n  'unreadable'\n];\nconst missingExtractionKeys = requiredExtractionKeys.filter((key) => !hasOwn(parsed, key));\n\nconst isNonEmptyString = (value) => typeof value === 'string' && value.trim().length > 0;\nconst isValidDate = (value) => typeof value === 'string' && /^\\d{4}-\\d{2}-\\d{2}$/.test(value);\n\nconst docType = allowedDocTypes.includes(parsed.document_type) ? parsed.document_type : 'Other';\nlet confidence = Number(parsed.confidence_score ?? 0);\nif (!Number.isFinite(confidence)) confidence = 0;\nconfidence = Math.max(0, Math.min(1, confidence));\n\nconst parsedAmount = typeof parsed.total_amount === 'number'\n  ? parsed.total_amount\n  : (parsed.total_amount != null && parsed.total_amount !== '' ? Number(parsed.total_amount) : null);\nconst amountValid = parsedAmount != null && Number.isFinite(parsedAmount);\nconst currencyValid = parsed.currency === 'USD';\nconst vendorValid = isNonEmptyString(parsed.vendor);\nconst dateValid = isValidDate(parsed.date_document);\nconst notesValid = isNonEmptyString(parsed.notes);\nconst eventSummaryValid = isNonEmptyString(parsed.event_summary);\nconst unreadable = Boolean(parsed.unreadable);\n\nconst invalidRequiredValues = [];\nif (!allowedDocTypes.includes(parsed.document_type)) invalidRequiredValues.push('document_type');\nif (!vendorValid) invalidRequiredValues.push('vendor');\nif (!dateValid) invalidRequiredValues.push('date_document');\nif (!amountValid) invalidRequiredValues.push('total_amount');\nif (!currencyValid) invalidRequiredValues.push('currency');\nif (!notesValid) invalidRequiredValues.push('notes');\nif (!eventSummaryValid) invalidRequiredValues.push('event_summary');\n\nconst lowConfidence = confidence < threshold;\nconst payloadTruncated = Boolean(source.payloadTruncated);\n\nlet route = '20_PROCESSED';\nlet reviewStatus = 'processed';\nconst notes = [];\n\nif (missingExtractionKeys.length) {\n  notes.push(`Missing extraction keys: ${missingExtractionKeys.join(', ')}`);\n}\nif (invalidRequiredValues.length) {\n  notes.push(`Invalid required values: ${invalidRequiredValues.join(', ')}`);\n}\n\nif (unreadable) {\n  route = '99_ERROR';\n  reviewStatus = 'error';\n  notes.push('Unreadable or extraction failure');\n} else if (lowConfidence || missingExtractionKeys.length || invalidRequiredValues.length || payloadTruncated) {\n  route = '30_REVIEW';\n  reviewStatus = 'needs_review';\n  if (lowConfidence) notes.push(`Confidence ${confidence.toFixed(2)} below threshold ${threshold}`);\n  if (payloadTruncated) notes.push('AI payload truncated before extraction');\n}\n\nconst now = new Date();\nconst timestampProcessed = now.toISOString();\nconst dateFromDoc = dateValid ? parsed.date_document : now.toISOString().slice(0, 10);\n\nconst clean = (value, fallback) => {\n  const rawValue = (value ?? fallback ?? '').toString().trim();\n  const normalized = rawValue\n    .replace(/[^a-zA-Z0-9 ]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .replace(/ /g, '_');\n  return normalized || fallback;\n};\n\nconst vendor = clean(parsed.vendor, 'UnknownVendor');\nconst docTypeName = clean(docType, 'Other');\nconst original = source.fileNameOriginal || 'document';\nconst extMatch = original.match(/\\.([a-zA-Z0-9]+)$/);\nconst ext = extMatch\n  ? `.${extMatch[1].toLowerCase()}`\n  : source.mimeType === 'application/pdf'\n    ? '.pdf'\n    : '';\nconst fileNameRenamed = `${dateFromDoc}_${vendor}_${docTypeName}${ext}`;\n\nconst routedFolder = route;\nconst rawAiNotes = typeof parsed.notes === 'string' ? parsed.notes.replace(/\\s+/g, ' ').trim() : '';\nconst rawEventSummary = typeof parsed.event_summary === 'string' ? parsed.event_summary.replace(/\\s+/g, ' ').trim() : '';\nconst fallbackSummary = `Extracted ${docType} for ${vendorValid ? parsed.vendor : 'Unknown vendor'} on ${dateFromDoc}${amountValid ? `, amount ${currencyValid ? parsed.currency : 'USD'} ${parsedAmount.toFixed(2)}` : ''}.`;\nconst finalEventSummary = (rawEventSummary || rawAiNotes || fallbackSummary).slice(0, 500);\nconst finalNotes = [...notes, rawAiNotes].filter(Boolean).join(' | ').slice(0, 500) || null;\n\nreturn {\n  json: {\n    fileId: source.fileId,\n    fileNameOriginal: source.fileNameOriginal,\n    fileNameRenamed,\n    documentType: docType,\n    vendor: vendorValid ? vendor : 'UnknownVendor',\n    dateDocument: dateFromDoc,\n    totalAmount: amountValid ? parsedAmount : null,\n    currency: currencyValid ? parsed.currency : 'USD',\n    confidenceScore: confidence,\n    reviewStatus,\n    routedFolder,\n    driveFileLink: source.driveFileLink,\n    notes: finalNotes,\n    eventSummary: finalEventSummary,\n    timestampProcessed\n  },\n  binary: $('Prepare AI Input').item.binary\n};\n",
        "mode": "runOnceForEachItem"
      },
      "id": "parse-and-normalize",
      "name": "Parse And Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": "={{$json.fileId}}",
        "newUpdatedFileName": "={{$json.fileNameRenamed}}",
        "options": {}
      },
      "id": "rename-file",
      "name": "Rename File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2384,
        -32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Config').first().json.financialLogSpreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').first().json.financialLogSheetName }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp_processed": "={{$json.timestampProcessed}}",
            "file_name_renamed": "={{$json.fileNameRenamed}}",
            "file_name_original": "={{$json.fileNameOriginal}}",
            "document_type": "={{$json.documentType}}",
            "vendor": "={{$json.vendor}}",
            "date_document": "={{$json.dateDocument}}",
            "total_amount": "={{$json.totalAmount}}",
            "currency": "={{$json.currency}}",
            "confidence_score": "={{$json.confidenceScore}}",
            "review_status": "={{$json.reviewStatus}}",
            "routed_folder": "={{$json.routedFolder}}",
            "drive_file_link": "={{$json.driveFileLink}}",
            "notes": "={{$json.notes || \"\"}}",
            "event_summary": "={{$json.eventSummary || \"\"}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-financial-log",
      "name": "Append Financial Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2624,
        -32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json || {};\nconst cfg = $('Config').first().json;\nconst parseNode = $('Parse And Normalize').item?.json || {};\nconst renameNode = $('Rename File').item?.json || {};\n\nconst stableFileId = item.fileId || item.id || parseNode.fileId || renameNode.id || null;\nif (!stableFileId) {\n  throw new Error('Unable to resolve file ID before terminal folder move.');\n}\n\nconst routedFolder = item.routedFolder || parseNode.routedFolder || '20_PROCESSED';\nlet targetFolderId = cfg.processedFolderId;\nif (routedFolder === '30_REVIEW') targetFolderId = cfg.reviewFolderId;\nif (routedFolder === '99_ERROR') targetFolderId = cfg.errorFolderId;\n\nif (!targetFolderId || String(targetFolderId).startsWith('REPLACE_WITH_')) {\n  throw new Error(`Missing target folder for route ${routedFolder}`);\n}\n\nreturn {\n  json: {\n    ...parseNode,\n    ...item,\n    fileId: stableFileId,\n    routedFolder,\n    targetFolderId\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "id": "build-final-route",
      "name": "Build Final Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{$item(0).$node[\"Build Final Route\"].json[\"fileId\"]}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "={{$item(0).$node[\"Build Final Route\"].json[\"targetFolderId\"]}}"
      },
      "id": "move-final",
      "name": "Move To Terminal Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3104,
        -32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "Pipeline sequence (state-based):\\n1) Trigger on 00_INBOX polling.\\n2) Move file to 10_PROCESSING immediately.\\n3) Run conservative OCR/classification extraction.\\n4) Decide route: 20_PROCESSED, 30_REVIEW, or 99_ERROR.\\n5) Rename file using YYYY-MM-DD_Vendor_DocumentType.ext.\\n6) Append one row to Financial Log.\\n7) Move renamed file to terminal folder.\\n\\nAtomic intent: items should only end in 20_PROCESSED when rename + log + move succeed.",
        "height": 260,
        "width": 520
      },
      "id": "notes",
      "name": "Implementation Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        -336
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1200,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1776,
        176
      ],
      "id": "fc356d2f-5f4c-4cbe-b0c1-382393e81602",
      "name": "GPT 4.1 mini",
      "credentials": {
        "openRouterApi": {
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf-text",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1552,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Guard Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Config": {
      "main": [
        [
          {
            "node": "Search INBOX Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search INBOX Files": {
      "main": [
        [
          {
            "node": "Pick Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Files": {
      "main": [
        [
          {
            "node": "Move To 10_PROCESSING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move To 10_PROCESSING": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Intake Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Intake Classifier": {
      "main": [
        [
          {
            "node": "Parse And Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse And Normalize": {
      "main": [
        [
          {
            "node": "Rename File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename File": {
      "main": [
        [
          {
            "node": "Build Final Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Financial Log": {
      "main": [
        [
          {
            "node": "Move To Terminal Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Route": {
      "main": [
        [
          {
            "node": "Append Financial Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Intake Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
