automation/workflows/finance-invoices.blueprint.json
{
  "name": "Finance - Invoices",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "meta": {
    "description": "Sanitized export of live workflow Finance - Invoices (mandatory sequential flow). Replace placeholder IDs and credentials before activation.",
    "requires": [
      "Google Drive account",
      "Google Sheets account",
      "OpenRouter account"
    ]
  },
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -176
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "inboxFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_INVOICES_INBOX_FOLDER_ID"
            },
            {
              "name": "processingFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_INVOICES_PROCESSING_FOLDER_ID"
            },
            {
              "name": "processedFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_INVOICES_PROCESSED_FOLDER_ID"
            },
            {
              "name": "reviewFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_INVOICES_REVIEW_FOLDER_ID"
            },
            {
              "name": "errorFolderId",
              "type": "string",
              "value": "HOLDEN_FINANCE_INVOICES_ERROR_FOLDER_ID"
            },
            {
              "name": "financialLogSpreadsheetId",
              "type": "string",
              "value": "HOLDEN_FINANCE_LEDGER_SPREADSHEET_ID"
            },
            {
              "name": "financialLogSheetName",
              "type": "string",
              "value": "Financial Log"
            },
            {
              "name": "confidenceReviewThreshold",
              "type": "number",
              "value": 0.85
            },
            {
              "name": "maxFilesPerRun",
              "type": "number",
              "value": 10
            },
            {
              "name": "maxInlineDocumentBase64Chars",
              "type": "number",
              "value": 300000
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const cfg = $input.item.json;\nconst required = [\n  'inboxFolderId',\n  'processingFolderId',\n  'processedFolderId',\n  'reviewFolderId',\n  'errorFolderId',\n  'financialLogSpreadsheetId',\n  'financialLogSheetName'\n];\n\nconst missing = required.filter((key) => {\n  const value = cfg[key];\n  return value == null || String(value).trim() === '' || String(value).startsWith('REPLACE_WITH_');\n});\n\nif (missing.length) {\n  throw new Error(`Config placeholders or missing values: ${missing.join(', ')}`);\n}\n\nconst maxFiles = Number(cfg.maxFilesPerRun ?? 10);\nif (!Number.isFinite(maxFiles) || maxFiles < 1 || maxFiles > 100) {\n  throw new Error('maxFilesPerRun must be between 1 and 100');\n}\n\nconst threshold = Number(cfg.confidenceReviewThreshold ?? 0.85);\nif (!Number.isFinite(threshold) || threshold <= 0 || threshold >= 1) {\n  throw new Error('confidenceReviewThreshold must be between 0 and 1');\n}\n\nreturn [{ json: cfg }];"
      },
      "id": "guard-config",
      "name": "Guard Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ \"'\" + $json.inboxFolderId + \"' in parents and mimeType != 'application/vnd.google-apps.folder' and trashed = false\" }}",
        "limit": "={{ Number($('Config').first().json.maxFilesPerRun || 10) }}",
        "filter": {},
        "options": {}
      },
      "id": "search-inbox-files",
      "name": "Search INBOX Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((i) => i.json || {});\nif (!items.length) return [];\n\nitems.sort((a, b) => {\n  const left = Date.parse(a.createdTime || a.modifiedTime || 0);\n  const right = Date.parse(b.createdTime || b.modifiedTime || 0);\n  return left - right;\n});\n\nreturn items.map((file) => ({\n  json: {\n    fileId: file.id,\n    fileNameOriginal: file.name || null,\n    mimeType: file.mimeType || null,\n    createdTime: file.createdTime || null,\n    modifiedTime: file.modifiedTime || null\n  }\n}));"
      },
      "id": "pick-files",
      "name": "Pick Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{$json.fileId}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "={{ $('Config').first().json.processingFolderId }}"
      },
      "id": "move-to-processing",
      "name": "Move To 10_PROCESSING",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1184,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{$json.fileId || $json.id || $item(0).$node[\"Pick Files\"].json[\"fileId\"]}}",
        "options": {}
      },
      "id": "download-file",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\n\nconst cfg = $(\"Config\").first().json || {};\nconst pick = $(\"Pick Files\").item?.json || {};\nconst moved = $(\"Move To 10_PROCESSING\").item?.json || {};\nconst downloaded = $(\"Download File\").item?.json || {};\n\nconst stableFileId = item.json.fileId || item.json.id || downloaded.id || moved.id || pick.fileId || null;\nif (!stableFileId) {\n  throw new Error('Unable to resolve Google Drive file ID for downstream processing.');\n}\n\nconst extractedRaw = typeof item.json.text === 'string' ? item.json.text : '';\nlet decodedText = extractedRaw\n  .replace(/[^\\x09\\x0A\\x0D\\x20-\\x7E]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!decodedText && item.binary?.data) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  decodedText = buffer\n    .toString('utf8')\n    .replace(/[^\\x09\\x0A\\x0D\\x20-\\x7E]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst maxExtractedChars = 12000;\nconst extractedText = decodedText.slice(0, maxExtractedChars);\nconst payloadTruncated = decodedText.length > maxExtractedChars;\n\nconst originalName = item.json.fileNameOriginal || moved.name || downloaded.name || pick.fileNameOriginal || null;\nconst mimeType = item.json.mimeType || moved.mimeType || downloaded.mimeType || pick.mimeType || null;\n\nconst aiInput = {\n  file_id: stableFileId,\n  file_name: originalName,\n  mime_type: mimeType,\n  drive_file_link: `https://drive.google.com/file/d/${stableFileId}/view`,\n  payload_truncated: payloadTruncated,\n  confidence_review_threshold: Number(cfg.confidenceReviewThreshold ?? 0.85),\n  folder_ids: {\n    processedFolderId: cfg.processedFolderId,\n    reviewFolderId: cfg.reviewFolderId,\n    errorFolderId: cfg.errorFolderId\n  },\n  extracted_text: extractedText,\n  extracted_text_chars: extractedText.length\n};\n\nreturn {\n  json: {\n    fileId: stableFileId,\n    fileNameOriginal: originalName,\n    mimeType,\n    driveFileLink: aiInput.drive_file_link,\n    payloadTruncated,\n    aiInput,\n    chatInput: JSON.stringify(aiInput)\n  },\n  binary: item.binary\n};"
      },
      "id": "prepare-ai-input",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.chatInput}}",
        "options": {
          "systemMessage": "You are a conservative finance invoice extraction and routing engine.\n\nInput JSON keys: file_id, file_name, mime_type, drive_file_link, payload_truncated, confidence_review_threshold, folder_ids, extracted_text, extracted_text_chars.\n\nAll parsing and normalization must happen in this prompt step.\n\nReturn strict JSON only with EXACT keys:\nfileId, fileNameOriginal, fileNameRenamed, documentType, vendor, invoiceId, dateDocument, totalAmount, currency, confidenceScore, reviewStatus, routedFolder, targetFolderId, driveFileLink, notes, eventSummary, timestampProcessed\n\nRules:\n- documentType allowed: Invoice|Receipt|Bank Statement|Other\n- reviewStatus allowed: processed|needs_review|error\n- routedFolder allowed: 20_PROCESSED|30_REVIEW|99_ERROR\n- invoiceId: extract invoice number/ID if present; else null\n- dateDocument must be YYYY-MM-DD when known\n- confidenceScore must be 0..1\n- If unreadable, set reviewStatus=error and routedFolder=99_ERROR\n- If confidenceScore < confidence_review_threshold or payload_truncated=true, route to 30_REVIEW with reviewStatus=needs_review\n- targetFolderId must match routedFolder using folder_ids\n- fileNameRenamed must be YYYY-MM-DD_Vendor_DocumentType.ext preserving input extension\n\nReturn only JSON. No markdown."
        }
      },
      "id": "ai-intake-classifier",
      "name": "AI Intake Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1904,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": "={{ $json.fileId }}",
        "newUpdatedFileName": "={{ $json.fileNameRenamed }}",
        "options": {}
      },
      "id": "rename-file",
      "name": "Rename File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2432,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Config').first().json.financialLogSpreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Config').first().json.financialLogSheetName }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp_processed": "={{$json.timestampProcessed}}",
            "file_name_renamed": "={{$json.fileNameRenamed}}",
            "file_name_original": "={{$json.fileNameOriginal}}",
            "document_type": "={{$json.documentType}}",
            "vendor": "={{$json.vendor}}",
            "invoice_id": "={{$json.invoiceId || \"\"}}",
            "date_document": "={{$json.dateDocument}}",
            "total_amount": "={{$json.totalAmount}}",
            "currency": "={{$json.currency}}",
            "confidence_score": "={{$json.confidenceScore}}",
            "review_status": "={{$json.reviewStatus}}",
            "routed_folder": "={{$json.routedFolder}}",
            "drive_file_link": "={{$json.driveFileLink}}",
            "notes": "={{$json.notes || \"\"}}",
            "event_summary": "={{$json.eventSummary || \"\"}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-financial-log",
      "name": "Append Financial Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3024,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{ $json.fileId }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": "={{ $json.targetFolderId }}"
      },
      "id": "move-final",
      "name": "Move To Terminal Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3552,
        -32
      ]
    },
    {
      "parameters": {
        "content": "Pipeline sequence (mandatory):\\n1) Move file to 10_PROCESSING.\\n2) AI parses/normalizes full dataset including invoiceId and targetFolderId.\\n3) Parse AI Output validates strict contract.\\n4) Rename File (mandatory) then Verify Rename.\\n5) Append Financial Log (mandatory) then Verify Append.\\n6) Move To Terminal Folder (mandatory) then Verify Move.\\nAny step failure stops the workflow.",
        "height": 260,
        "width": 520
      },
      "id": "notes",
      "name": "Implementation Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        -336
      ]
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1200,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1776,
        176
      ],
      "id": "fc356d2f-5f4c-4cbe-b0c1-382393e81602",
      "name": "GPT 4.1 mini"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf-text",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $(\"Prepare AI Input\").item.json;\nconst cfg = $(\"Config\").first().json;\n\nlet raw = $input.item.json.output ?? $input.item.json.response ?? $input.item.json.text ?? '';\nif (typeof raw !== 'string') raw = JSON.stringify(raw ?? {});\nraw = raw.trim();\nif (raw.startsWith('```')) {\n  const lines = raw.split('\\n');\n  if (lines[0].startsWith('```')) lines.shift();\n  if (lines.length && lines[lines.length - 1].startsWith('```')) lines.pop();\n  raw = lines.join('\\n').trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error(`AI JSON parse failure: ${e.message}`);\n}\n\nif (parsed == null || typeof parsed !== 'object' || Array.isArray(parsed)) {\n  throw new Error('AI output must be a JSON object');\n}\n\nconst required = [\n  'fileId','fileNameOriginal','fileNameRenamed','documentType','vendor','invoiceId',\n  'dateDocument','totalAmount','currency','confidenceScore','reviewStatus','routedFolder',\n  'targetFolderId','driveFileLink','notes','eventSummary','timestampProcessed'\n];\nfor (const key of required) {\n  if (!(key in parsed)) throw new Error(`Missing AI key: ${key}`);\n}\n\nconst allowedDocTypes = new Set(['Invoice','Receipt','Bank Statement','Other']);\nconst allowedReview = new Set(['processed','needs_review','error']);\nconst allowedRoutes = new Set(['20_PROCESSED','30_REVIEW','99_ERROR']);\nif (!allowedDocTypes.has(parsed.documentType)) throw new Error('Invalid documentType');\nif (!allowedReview.has(parsed.reviewStatus)) throw new Error('Invalid reviewStatus');\nif (!allowedRoutes.has(parsed.routedFolder)) throw new Error('Invalid routedFolder');\n\nconst expectedFolder = parsed.routedFolder === '20_PROCESSED'\n  ? cfg.processedFolderId\n  : parsed.routedFolder === '30_REVIEW'\n    ? cfg.reviewFolderId\n    : cfg.errorFolderId;\nif (String(parsed.targetFolderId) !== String(expectedFolder)) {\n  throw new Error('AI targetFolderId does not match routedFolder');\n}\n\nconst confidence = Number(parsed.confidenceScore);\nif (!Number.isFinite(confidence) || confidence < 0 || confidence > 1) {\n  throw new Error('Invalid confidenceScore');\n}\n\nconst total = parsed.totalAmount == null || parsed.totalAmount === '' ? null : Number(parsed.totalAmount);\nif (total != null && !Number.isFinite(total)) {\n  throw new Error('Invalid totalAmount');\n}\n\nreturn {\n  json: {\n    ...parsed,\n    fileId: parsed.fileId || source.fileId,\n    fileNameOriginal: parsed.fileNameOriginal || source.fileNameOriginal,\n    driveFileLink: parsed.driveFileLink || source.driveFileLink,\n    invoiceId: parsed.invoiceId ?? null,\n    totalAmount: total\n  }\n};"
      },
      "id": "parse-ai-output",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const expected = $(\"Parse AI Output\").item.json.fileId;\nconst out = $input.item.json || {};\nif (!out.id) throw new Error('Rename step did not return file id.');\nif (String(out.id) !== String(expected)) {\n  throw new Error(`Rename returned unexpected id ${out.id}, expected ${expected}`);\n}\nreturn { json: { ...$(\"Parse AI Output\").item.json } };"
      },
      "id": "verify-rename",
      "name": "Verify Rename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const appended = $input.item.json || {};\n\n// Ensure append returned row-shaped data from Google Sheets.\nconst requiredSheetFields = [\n  'timestamp_processed',\n  'file_name_renamed',\n  'file_name_original',\n  'document_type',\n  'invoice_id'\n];\nfor (const key of requiredSheetFields) {\n  if (!(key in appended)) {\n    throw new Error(`Append output missing field: ${key}`);\n  }\n}\n\n// Continue the chain with canonical parsed payload.\nreturn { json: { ...$(\"Parse AI Output\").item.json } };"
      },
      "id": "verify-append",
      "name": "Verify Append",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const expected = $(\"Parse AI Output\").item.json;\nconst out = $input.item.json || {};\nif (!out.id) throw new Error('Move step did not return file id.');\nif (String(out.id) !== String(expected.fileId)) {\n  throw new Error(`Move returned unexpected id ${out.id}, expected ${expected.fileId}`);\n}\nreturn {\n  json: {\n    ...expected,\n    movedFileId: out.id,\n    movedFileName: out.name || null\n  }\n};"
      },
      "id": "verify-move",
      "name": "Verify Move",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        -32
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Guard Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Config": {
      "main": [
        [
          {
            "node": "Search INBOX Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search INBOX Files": {
      "main": [
        [
          {
            "node": "Pick Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Files": {
      "main": [
        [
          {
            "node": "Move To 10_PROCESSING",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move To 10_PROCESSING": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Intake Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Intake Classifier": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Rename File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename File": {
      "main": [
        [
          {
            "node": "Verify Rename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Rename": {
      "main": [
        [
          {
            "node": "Append Financial Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Financial Log": {
      "main": [
        [
          {
            "node": "Verify Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Append": {
      "main": [
        [
          {
            "node": "Move To Terminal Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move To Terminal Folder": {
      "main": [
        [
          {
            "node": "Verify Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Intake Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}
