automation/workflows/google-drive-download-for-processing.json
{
  "name": "Finance Automation INBOX Simple Intake",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "financeAutomationFolderId",
              "type": "string",
              "value": "REPLACE_WITH_FINANCE_AUTOMATION_FOLDER_ID"
            },
            {
              "name": "inboxFolderId",
              "type": "string",
              "value": "REPLACE_WITH_00_INBOX_FOLDER_ID"
            },
            {
              "name": "doneInvoicesFolderId",
              "type": "string",
              "value": "REPLACE_WITH_10_DONE_INVOICES_FOLDER_ID"
            },
            {
              "name": "doneBankStatementsFolderId",
              "type": "string",
              "value": "REPLACE_WITH_20_DONE_BANK_STATEMENTS_FOLDER_ID"
            },
            {
              "name": "doneOtherFolderId",
              "type": "string",
              "value": "REPLACE_WITH_30_DONE_OTHER_FOLDER_ID"
            },
            {
              "name": "reviewFolderId",
              "type": "string",
              "value": "REPLACE_WITH_90_REVIEW_FOLDER_ID"
            },
            {
              "name": "errorFolderId",
              "type": "string",
              "value": "REPLACE_WITH_99_ERROR_FOLDER_ID"
            },
            {
              "name": "processingLabel",
              "type": "string",
              "value": "finance-document-agent"
            },
            {
              "name": "repoRoot",
              "type": "string",
              "value": "REPLACE_WITH_REPO_ROOT"
            },
            {
              "name": "expenseSpreadsheetId",
              "type": "string",
              "value": "REPLACE_WITH_EXPENSE_SPREADSHEET_ID"
            },
            {
              "name": "expenseSheetName",
              "type": "string",
              "value": "Expenses"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "={{ \"'\" + $json.inboxFolderId + \"' in parents and mimeType != 'application/vnd.google-apps.folder' and trashed = false\" }}",
        "returnAll": true,
        "options": {}
      },
      "id": "search-ingest-files",
      "name": "Search INBOX Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_NAME"
        }
      },
      "position": [
        940,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items.length) {\n  throw new Error('00_INBOX folder is empty.');\n}\n\nconst candidates = items\n  .map(({ json }) => json)\n  .filter((file) => file && file.id && file.mimeType !== 'application/vnd.google-apps.folder');\n\nif (!candidates.length) {\n  throw new Error('00_INBOX contains no downloadable files.');\n}\n\ncandidates.sort((a, b) => {\n  const left = Date.parse(a.createdTime || a.modifiedTime || 0);\n  const right = Date.parse(b.createdTime || b.modifiedTime || 0);\n  return left - right;\n});\n\nconst config = $('Config').first().json;\n\nreturn candidates.map((file) => ({\n  json: {\n    fileId: file.id,\n    fileName: file.name ?? null,\n    mimeType: file.mimeType ?? null,\n    createdTime: file.createdTime ?? null,\n    modifiedTime: file.modifiedTime ?? null,\n    inboxFolderId: config.inboxFolderId,\n    processingLabel: config.processingLabel,\n    repoRoot: config.repoRoot,\n    expenseSpreadsheetId: config.expenseSpreadsheetId,\n    expenseSheetName: config.expenseSheetName,\n  },\n}));"
      },
      "id": "pick-latest-file",
      "name": "Pick Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        -120
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.fileId }}",
        "binaryPropertyName": "data"
      },
      "id": "download-file",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_NAME"
        }
      },
      "position": [
        1420,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst binary = item.binary?.data;\n\nif (!binary) {\n  throw new Error('Downloaded file did not include binary data.');\n}\n\nreturn {\n  json: {\n    fileId: item.json.fileId,\n    fileName: binary.fileName ?? item.json.fileName ?? null,\n    mimeType: binary.mimeType ?? item.json.mimeType ?? null,\n    fileSize: binary.fileSize ?? null,\n    ingestFolderId: item.json.ingestFolderId,\n    ingestFolderName: item.json.ingestFolderName,\n    processingLabel: item.json.processingLabel,\n    repoRoot: item.json.repoRoot,\n    driveFileUrl: `https://drive.google.com/file/d/${item.json.fileId}/view`,\n    binaryProperty: 'data',\n    readyForProcessing: true\n  },\n  binary: item.binary,\n};"
      },
      "id": "prepare-processing-context",
      "name": "Prepare Processing Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "filter-pdf-mimetype",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-pdf",
      "name": "Filter PDF",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1900,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "filter-text-mimetype",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "text/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-text",
      "name": "Filter Text",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1900,
        0
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "extract-pdf",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2140,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "data",
        "destinationOutputField": "text",
        "options": {}
      },
      "id": "extract-text",
      "name": "Extract Plain Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2140,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst raw = item.json.text ?? item.json.data ?? item.json.input_text ?? null;\n\nlet extractedText = raw;\nif (raw && typeof raw !== 'string') {\n  extractedText = JSON.stringify(raw, null, 2);\n}\n\nif (!extractedText || !String(extractedText).trim()) {\n  throw new Error('No extracted text was produced for agent processing.');\n}\n\nreturn {\n  json: {\n    ...item.json,\n    extractedText: String(extractedText).trim(),\n  },\n  binary: item.binary,\n};"
      },
      "id": "normalize-extracted-text",
      "name": "Normalize Extracted Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst result = item.json.agentOutput ?? {};\n\nreturn {\n  json: {\n    sourceFileId: item.json.sourceFileId,\n    sourceFileName: item.json.sourceFileName,\n    sourceFileUrl: item.json.sourceFileUrl,\n    documentType: item.json.documentType ?? result.document_type ?? 'unknown',\n    status: item.json.status ?? result.status ?? 'processed',\n    reviewQueueRequired: Boolean(item.json.reviewQueueRequired),\n    confidence: item.json.confidence ?? result.confidence ?? null,\n    agentResult: result,\n  },\n};"
      },
      "id": "present-agent-result",
      "name": "Present Agent Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4540,
        -240
      ]
    },
    {
      "parameters": {
        "content": "AI-centered flow:\n1. Read files from 00_INBOX by folder ID.\n2. Download + extract text (PDF/text).\n3. Classify using AI Intake Classifier with strict JSON prompt.\n4. Append only invoices to Expenses sheet.\n5. Move each file to done/review/error folders by classification/status.",
        "height": 220,
        "width": 500
      },
      "id": "notes",
      "name": "Implementation Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2720,
        -500
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst output = item.json.agentOutput ?? {};\nconst docType = output.document_type ?? item.json.documentType ?? 'unknown';\nif (docType !== 'invoice') {\n  return [];\n}\n\nconst amount = typeof output.amount === 'number' ? output.amount : (output.amount ? Number(output.amount) : null);\n\nreturn [{\n  json: {\n    jobId: `invoice-${item.json.sourceFileId || 'unknown'}`,\n    sourceFileId: item.json.sourceFileId,\n    sourceFileName: item.json.sourceFileName,\n    sourceFileUrl: item.json.sourceFileUrl,\n    vendorOrPayee: output.vendor_or_payee ?? null,\n    invoiceNumber: output.invoice_number ?? null,\n    documentDate: output.document_date ?? null,\n    dueDate: null,\n    amount,\n    currency: output.currency ?? 'USD',\n    suggestedCategory: null,\n    suggestedEntity: null,\n    confidence: output.confidence ?? null,\n    summary: output.summary ?? null,\n    status: item.json.status ?? output.status ?? null,\n    extractedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "build-expense-row",
      "name": "Build Expense Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4540,
        -20
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $(\"Config\").first().json.expenseSpreadsheetId }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $(\"Config\").first().json.expenseSheetName }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "jobId": "={{$json.jobId}}",
            "sourceFileId": "={{$json.sourceFileId}}",
            "sourceFileName": "={{$json.sourceFileName}}",
            "sourceFileUrl": "={{$json.sourceFileUrl}}",
            "vendorOrPayee": "={{$json.vendorOrPayee}}",
            "invoiceNumber": "={{$json.invoiceNumber}}",
            "documentDate": "={{$json.documentDate}}",
            "dueDate": "={{$json.dueDate}}",
            "amount": "={{$json.amount}}",
            "currency": "={{$json.currency}}",
            "suggestedCategory": "={{$json.suggestedCategory}}",
            "suggestedEntity": "={{$json.suggestedEntity}}",
            "confidence": "={{$json.confidence}}",
            "summary": "={{$json.summary}}",
            "status": "={{$json.status}}",
            "extractedAt": "={{$json.extractedAt}}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "append-invoice-to-expense-sheet",
      "name": "Append Invoice To Expense Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4780,
        -20
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        -220
      ],
      "id": "schedule-trigger-ingest",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst cfg = $('Config').first().json;\nconst docType = item.json.documentType || 'unknown';\nconst status = item.json.status || 'processed';\nconst needsReview = Boolean(item.json.reviewQueueRequired);\n\nlet targetFolderId = cfg.doneOtherFolderId;\nlet route = 'done_other';\n\nif (status === 'failed') {\n  targetFolderId = cfg.errorFolderId;\n  route = 'error';\n} else if (needsReview || status === 'needs_review') {\n  targetFolderId = cfg.reviewFolderId;\n  route = 'review';\n} else if (docType === 'invoice') {\n  targetFolderId = cfg.doneInvoicesFolderId;\n  route = 'done_invoices';\n} else if (docType === 'bank_statement') {\n  targetFolderId = cfg.doneBankStatementsFolderId || cfg.doneOtherFolderId;\n  route = 'done_bank_statements';\n}\n\nif (!targetFolderId || String(targetFolderId).startsWith('REPLACE_WITH_')) {\n  throw new Error(`Missing target folder ID for route: ${route}`);\n}\n\nreturn [{ json: { ...item.json, targetFolderId, route } }];"
      },
      "id": "build-move-target",
      "name": "Build Move Target",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4780,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": "={{$json.sourceFileId}}",
        "folderId": "={{$json.targetFolderId}}",
        "options": {}
      },
      "id": "move-processed-file",
      "name": "Move Processed File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5020,
        -240
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "REPLACE_WITH_GOOGLE_DRIVE_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-mini",
        "options": {
          "maxTokens": 1200,
          "temperature": 0
        }
      },
      "id": "ai_model_1",
      "name": "Claude Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2580,
        40
      ],
      "credentials": {
        "openRouterApi": {
          "id": "REPLACE_WITH_OPENROUTER_CREDENTIAL_ID",
          "name": "REPLACE_WITH_OPENROUTER_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a finance intake classifier. Analyze the provided extracted document text.\nReturn ONLY valid JSON with this exact schema:\n{\n  \"document_type\": \"invoice|bank_statement|other|unknown\",\n  \"status\": \"processed|needs_review|failed\",\n  \"confidence\": 0.0,\n  \"vendor_or_payee\": \"string|null\",\n  \"document_date\": \"YYYY-MM-DD|null\",\n  \"amount\": 0.0,\n  \"currency\": \"USD|null\",\n  \"invoice_number\": \"string|null\",\n  \"review_reason\": \"string|null\",\n  \"summary\": \"string\"\n}\nRules:\n- If confidence < 0.75, set status=\"needs_review\" and set review_reason.\n- If unreadable or insufficient content, set status=\"failed\".\n- Use \"bank_statement\" only for bank statements.\n- Use \"invoice\" only for invoices.\n- Do not output markdown or prose. JSON only."
        }
      },
      "id": "ai_agent_1",
      "name": "AI Intake Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2820,
        -120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst source = $('Normalize Extracted Text').item.json;\n\nlet raw = item.json.output ?? item.json.response ?? item.json.text ?? item.json.result ?? '';\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw ?? {});\n}\nraw = raw.trim();\n\nif (raw.startsWith('```')) {\n  const lines = raw.split('\\n');\n  if (lines[0].startsWith('```')) lines.shift();\n  if (lines.length && lines[lines.length - 1].startsWith('```')) lines.pop();\n  raw = lines.join('\\n').trim();\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {\n    document_type: 'unknown',\n    status: 'failed',\n    confidence: 0,\n    vendor_or_payee: null,\n    document_date: null,\n    amount: null,\n    currency: null,\n    invoice_number: null,\n    review_reason: `Invalid AI JSON: ${e.message}`,\n    summary: 'AI output parse failed',\n  };\n}\n\nconst confidence = Number(parsed.confidence ?? 0);\nlet status = parsed.status ?? 'processed';\nif (status === 'processed' && confidence < 0.75) {\n  status = 'needs_review';\n}\n\nreturn [{\n  json: {\n    agentOutput: parsed,\n    documentType: parsed.document_type ?? 'unknown',\n    status,\n    reviewQueueRequired: status === 'needs_review' || Boolean(parsed.review_reason),\n    confidence,\n    vendorOrPayee: parsed.vendor_or_payee ?? null,\n    invoiceNumber: parsed.invoice_number ?? null,\n    documentDate: parsed.document_date ?? null,\n    amount: typeof parsed.amount === 'number' ? parsed.amount : (parsed.amount ? Number(parsed.amount) : null),\n    currency: parsed.currency ?? 'USD',\n    summary: parsed.summary ?? null,\n    sourceFileId: source.fileId,\n    sourceFileName: source.fileName,\n    sourceFileUrl: source.driveFileUrl,\n  }\n}];"
      },
      "id": "ai_parse_1",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        -120
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Search INBOX Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Prepare Processing Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Processing Context": {
      "main": [
        [
          {
            "node": "Filter PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Text": {
      "main": [
        [
          {
            "node": "Extract Plain Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Normalize Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Plain Text": {
      "main": [
        [
          {
            "node": "Normalize Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Extracted Text": {
      "main": [
        [
          {
            "node": "AI Intake Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Expense Row": {
      "main": [
        [
          {
            "node": "Append Invoice To Expense Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search INBOX Files": {
      "main": [
        [
          {
            "node": "Pick Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Files": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Present Agent Result": {
      "main": [
        [
          {
            "node": "Build Move Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Move Target": {
      "main": [
        [
          {
            "node": "Move Processed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "AI Intake Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Intake Classifier": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Present Agent Result",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Expense Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
